body {
    margin: 0;
}

nav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #e1cf79;
  height: 100%;    /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto;  /* Enable scrolling if the sidenav has too much content */
  font-family:'Gill Sans', 'Sans-Serif';
}

nav ul li {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center
}
nav ul li img {
  border: 10px solid #e1cf79;
}
nav ul li img:hover {
  border-color: #737373;
}

nav ul li a.active {
  background-color: #e1cf79;
  color: white;
}
nav ul li a:hover:not(.active) {
  background-color: #e1cf79;
  color: #737373;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
ul.posts {
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
    font-family:'Tahoma', 'Sans-Serif', 'Monospace';
}
li {
  font-family:'Tahoma', 'Sans-Serif', 'Monospace';
}
a {
    text-decoration: none;
    color: #999;
}
a:hover:not(.active) {
  background-color: white;
  color: #737373;
}
img {
  border: 3px solid #3097bf;
}
img:hover {
  border-color: #e1cf79;
}

h1 {

    font-size: 4em;
    line-height: 0.25em;
    font-family:'Tahoma', 'Sans-Serif', 'Monospace';
}
h2 {
    font-family:'Tahoma', 'Sans-Serif', 'Monospace';
}
h3 {
    font-family:'Tahoma', 'Sans-Serif', 'Monospace';
}
h4 {
    font-family:'Tahoma', 'Sans-Serif', 'Monospace';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    font-family:'Tahoma', 'Sans-Serif', 'Monospace';
    color: #333;
}

.pdf:hover {
      text-decoration: underline;
}
.txt:hover {
    text-decoration: underline;
}
.column {
      float: left;

  width: 50%;
}
.left {
  width: 70%;
}

.right {
  width: 30%;
}

/* Clear floats after the columns */
.row:after {
      content: "";
      display: table;
      clear: both;
}
